{% load staticfiles %}<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'django_project/favicon.ico' %}"/>
    <title>{% block title %}MELODI Lite{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'django_project/index.css' %}" >
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143778740-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-143778740-4');
</script>

    <style>
    @media (min-width: 1200px) {
        .container{
            max-width: 1280px;
            min-width: 1080px;
        }
    }
        .container-fluid {
    padding-right: 100px;
    padding-left: 100px;
    }
    </style>
    {% block stylesheet %}{% endblock %}
  </head>
  <body>
    <header>

    </header>
    <div class="container-fluid">
       <div id="content">
           {% block content %}
           {% endblock %}
       </div>
   </div>
    <footer>

    </footer>
    {% block javascript %}{% endblock %}
  </body>
</html>
