{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'django_project/favicon.ico' %}"/>
    <title>{% block title %}MELODI Lite{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'django_project/index.css' %}" >
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>

 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143778740-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-143778740-4');
</script>

    <style>
    @media (min-width: 1200px) {
        .container{
            max-width: 1280px;
            min-width: 1080px;
        }
    }
        .container-fluid {
    padding-right: 100px;
    padding-left: 100px;
    }
    </style>
    {% block stylesheet %}{% endblock %}
  </head>
  <body>
    <header>

    </header>
    <div class="container">
       <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
          <a class="navbar-brand" href="/"><img src="{% static 'django_project/MELODI_Lite_Logo.png' %}" alt="MELODI Lite"  height="32"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/app/overlap/">App</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/docs/">API</a>
              </li>
            </ul>
            <span class="navbar-text">
              <a href="https://github.com/MRCIEU/MELODI-Lite/blob/master/notebooks/api-demo.ipynb"><img src="{% static 'django_project/Jupyter_logo.svg.png' %}" alt="Jupyter" height="25"></a>
              <a href="https://github.com/MRCIEU/MELODI-Lite"><img src="{% static 'django_project/github_logo.png' %}" alt="GitHub" height="25"></a>
              <a href="https://zenodo.org/badge/latestdoi/259267887"><img src="https://zenodo.org/badge/259267887.svg" alt="DOI"></a>
            </span>
          </div>
        </nav>
        <div class="container">
          <br>
           {% block content %}
           {% endblock %}
        </div>
       </div>
   </div>
    <footer>

    </footer>
    {% block javascript %}{% endblock %}
  </body>
</html>
