{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
  <div class="col-md-4 text-center">
      Previously we created MELODI, a method and tool to derive overlapping enriched literature elements connecting two biomedical terms. 
  </div>
  <div class="col-md-4 text-center">
      Here, we present MELODI Presto. A quicker and more agile method to identify overlapping elements between any number of exposures and outcomes.
  </div>
  <div class="col-md-4 text-center">
      Access via the <a href="{{root_url}}app/">Web App</a>, <a href="{{root_url}}docs/">API</a> or <a href='https://colab.research.google.com/github/MRCIEU/MELODI-Presto/blob/master/notebooks/api-demo.ipynb'>Notebook</a>.<br>Code is available on <a href="https://github.com/MRCIEU/MELODI-Presto">GitHub</a>.
    </div>  
  </div>
  <div class="row">
  <div class="col-md-12">
    <img class="img-fluid" src="{% static 'django_project/paper-figure.png' %}" alt="MELODI Presto"  height="400">
  </div>
  </div>

  

{% endblock %}
